label {
  margin-left: 320px;
}

.form-control {
  margin-left: 320px;
  width: 50%;
}

.btn {
  margin-left: 320px;
  margin-bottom: 10px;
}

img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
